<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>G-OAN: Your Loan partner</title>

  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body class="d-flex h-100 text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto text-center">
      <div>
        <h3 class="float-md-start mb-0">G-oan</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ url_for('home')}}">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('selection')}}">Loan Validation</a>
          <a class="nav-link fw-bold py-1 px-0 active" href="">Contact</a>
        </nav>
      </div>
    </header>

    <main class="text-center">
      <h2>OGUNDEKO OLUWASEUN EMMANUEL</h2><br><hr>
      Ogundeko Oluwaseun Emmanuel is a driven and passionate computer science student with a keen interest in data science and machine learning.
    </main>
    <section>
      <hr>
    </section>
    <section>
      <div class="info-container align-items-center justify-content-center">
        <div class="info-item d-flex">
          <div>
            <h4><b>Location</b>:</h4>
            <p>Lagos, Nigeria.</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex">
          <div>
            <h4><b>Email:</b></h4>
            <p>data4seun@gmail.com</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex">
          <div>
            <h4><b>Call</b>:</h4>
            <p>+234-905-272-0647</p>
          </div>
        </div><!-- End Info Item -->
      </div>
    </section>
    <hr>
    <section>
      Source code: <a href="github">click to see</a>
    </section>

    <footer class="mt-auto text-white-50 text-center">
      <p>Designed by <a href="https://oluwaseun-ogundeko.netlify.app/" class="text-white">Ogundeko Oluwaseun</a> on
        twitter as <a href="https://twitter.com/iamzadon" class="text-white">@iamzadon</a>.</p>
    </footer>
  </div>

</body>

</html>