<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>OG Loan</title>

  <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"> -->

  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body class="d-flex h-100 text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto text-center">
      <div>
        <h3 class="float-md-start mb-0">OG Loan</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">

          <!-- <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="index.html">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="selection.html">Loan Validation</a>
          <a class="nav-link fw-bold py-1 px-0 active" href="">Contact</a> -->


          <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ url_for('home')}}">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('selection')}}">Loan Validation</a>
          <a class="nav-link fw-bold py-1 px-0 active" href="">Contact</a>
        </nav>
      </div>
    </header>

    <main>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia omnis ea, tenetur dolorem cum a magni voluptatibus dignissimos inventore impedit voluptas ipsam dolor eveniet suscipit reiciendis earum, veniam exercitationem deleniti.
    </main>

    <footer class="mt-auto text-white-50 text-center">
      <p>Designed by <a href="https://oluwaseun-ogundeko.netlify.app/" class="text-white">Ogundeko Oluwaseun</a> on
        twitter as <a href="https://twitter.com/iamzadon" class="text-white">@iamzadon</a>.</p>
    </footer>
  </div>

</body>

</html>